<div class="vertical-spacing"></div>
{% schema %}
    {
        "name":"Section Spliter",
        "presets":[
            {
                "name":"Section Spliter",
                "category":"section-editor"
            }
        ]
    }
{% endschema %}